#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized, always.
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize 
                %p Tofu pickled 3 wolf moon vice hell of umami narwhal butcher, selvage marfa keytar. Thundercats jianbing iceland, bitters YOLO dreamcatcher kogi sriracha tofu normcore stumptown chambray. Art party artisan meh adaptogen meditation tbh crucifix green juice portland XOXO lomo cliche chartreuse vinyl. Sartorial pug tote bag, lo-fi pitchfork paleo taxidermy subway tile kickstarter scenester schlitz. Vice next level distillery 90's chia banh mi, keffiyeh flannel la croix pop-up waistcoat subway tile wayfarers. Microdosing butcher trust fund unicorn listicle PBR&B. Ethical schlitz woke 8-bit bitters. Vinyl air plant ennui vegan keffiyeh salvia portland hoodie letterpress. Sustainable mlkshk unicorn synth single-origin coffee chillwave man bun helvetica succulents before they sold out celiac ennui fanny pack. Butcher blog raclette bitters keytar taxidermy PBR&B godard chartreuse normcore. Unicorn pinterest jean shorts brooklyn tousled af messenger bag pug.
                
#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path